.filter {
  position: relative;
  width: max-content;
}

.filter button {
  gap: 12px;
  display: inline-flex;
  align-items: center;
  padding: 8px 12px;
  border-radius: 6px;
  background-color: var(--color-100);
}

.filter button:hover,
.filter > button[data-open="true"] {
  background-color: var(--color-200);
}

.filter > button svg {
  display: inline-block;
  vertical-align: middle;
  transition: 200ms transform;
}

.filter > button[data-open="true"] svg {
  transform: rotate(180deg);
}

.dropdown {
  position: absolute;
  width: max-content;
  display: flex;
  flex-direction: column;
  padding: 4px 4px;
  border-radius: 6px;
  background-color: var(--color-100);
  box-shadow: 0 4px 24px 0 rgba(0, 0, 0, 0.2);
}
