/**
 *
 * Filter Component Styles
 *
 */
.postsFilter {
  position: relative;
  width: max-content;
}

.postsFilter button {
  gap: 12px;
  display: inline-flex;
  align-items: center;
  padding: 12px 18px;
  border-radius: 6px;
  color: inherit;
  background-color: var(--color-100);
}

.postsFilter button:hover,
.postsFilter > button[data-open="true"] {
  background-color: var(--color-200);
}

.postsFilter > button svg {
  display: inline-block;
  vertical-align: middle;
  transition: 200ms transform;
}

.postsFilter > button[data-open="true"] svg {
  transform: rotate(180deg);
}

.postsDropdown {
  position: absolute;
  width: max-content;
  display: flex;
  flex-direction: column;
  padding: 4px 4px;
  border-radius: 6px;
  background-color: var(--color-100);
  box-shadow: 0 4px 24px 0 rgba(0, 0, 0, 0.25);
}

/**
 *
 * Summary Component Styles
 *
 */
.postsSummary {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  align-items: center;
  justify-content: center;
  border: 1px dashed currentColor;
  padding: 24px 16px;
  border-radius: 6px;
  font-size: 14px;
}

.postSummaryStat {
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 4px;
}

/**
  *
  * Posts List Component Styles
  *
  */
.postsListContainer {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.postItem {
  background-color: var(--color-100);
  padding: 8px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.postTitle {
  text-transform: capitalize;
  font-weight: 500;
  font-size: 18px;
}

.postBody,
.postItemComments {
  font-size: 14px;
}

.postItemFullScreen {
  position: fixed;
  inset: 0;
  z-index: 20;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.postItemFullScreenContainer {
  padding: 20px 24px;
  width: 100%;
  height: 100%;
  margin: auto;
  background-color: var(--color-100);
  box-shadow: 0 0 48px rgba(0, 0, 0, 0.25);
  overflow-y: auto;
}

.postItemFullScreenContainer > button {
  width: 32px;
  height: 32px;
  position: sticky;
  top: 0;
  background-color: var(--color-200);
  border-radius: 50%;
  padding: 8px;
  align-items: center;
  justify-content: center;
  display: inline-flex;
}

.postItemFullScreenContainer > button:hover {
  background-color: var(--color-300);
}

.postItemContent {
  margin: 24px 0 40px 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.postItemComments header {
  font-weight: 500;
  font-size: 16px;
}

.postItemsGrid {
  display: flex;
  flex-direction: column;
}

.postItemComment {
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding: 16px 0;
}

.postItemComment:not(:last-of-type) {
  border-bottom: 1px solid var(--color-300);
}

.postItemComment span {
  font-weight: 500;
}

@media (min-width: 768px) {
  .postItemFullScreenContainer {
    max-width: 540px;
    height: 640px;
    border-radius: 6px;
  }
}

/**
 *
 * Utility classes
 *
 */

.loader,
.error {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}

.loader {
  width: 32px;
  height: 32px;
  border: 4px solid var(--color-400);
  border-bottom-color: var(--color-200);
  border-radius: 50%;
  animation: spin 400ms linear infinite;
}

.error {
  color: red;
}

@keyframes spin {
  from {
    transform: translate3d(-50%, -50%, 0) rotate(360deg);
  }
  to {
    transform: translate3d(-50%, -50%, 0) rotate(0deg);
  }
}
