.container {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  align-items: center;
  justify-content: center;
  border: 1px dashed;
  padding: 40px 16px;
  border-radius: 6px;
  max-width: 400px;
}

.box {
  display: flex;
  align-items: center;
  gap: 4px;
}
