:root {
  --color-050: #fafafa;
  --color-100: #f4f4f5;
  --color-200: #e4e4e7;
  --color-300: #d4d4d8;
  --color-400: #a1a1aa;
  --color-500: #71717a;
  --color-600: #52525b;
  --color-700: #3f3f46;
  --color-800: #27272a;
  --color-900: #18181b;
  --color-950: #09090b;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--color-600);
  background-color: var(--color-100);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  height: 100%;
  font-size: 100%;
}

body {
  height: 100%;
  font-size: 1rem;
  box-sizing: border-box;
}
